{% extends 'ecom/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
<!-- Centered Header Below Navbar -->
<div class="container text-center mt-5">
  <h3 class="fw-bold">Login As a...</h3>
  <div class="row">
    <div  class="col-lg-4">
      <div class="card" style="width: 300px">
        
        <div class="card-body">
          <h4 class="card-title">Customer</h4>
          <p class="card-text text-dark m-2">Some Text</p>
          <a href="{% url 'handlelogin' %}" class="btn btn-dark">Go To Customer Login</a>
        </div>

      </div>
    </div> 
  </div>
</div>



{% endblock content %}
