{% extends "ecom/navigation.html" %} 
{% load static %}
{% block title %}Home{%endblock title %} 
{% block content %}

<!-- Login Forms -->
<div class="container d-flex justify-content-center">
  <div class="row">
    <!-- Customer Login Form -->
    <div class="card bg-light p-3 m-2 shadow" style="width: 400px">

      <h4 class="text-center text-dark">Admin Login</h4>
      <hr />
      <form action="{% url 'admin_login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="customer_email">Email ID</label>
          <input
            type="email"
            class="form-control p-2"
            id="customer_email"
            name="email"
            required
          />
        </div>
        <div class="form-group mt-2">
          <label for="customer_password">Password</label>
          <input
            type="password"
            class="form-control p-2"
            id="actual_password"
            name="actual_password"
            required
          />
        </div>

        <!-- Flex row for buttons -->
        
          <button type="submit" class="btn btn-dark mt-3">Login</button><br>
          <br>Not registered as Admin?<a class="mt-5 m-2" href="{% url 'signup_admin' %}" class="btn btn-dark"
            >Signup</a
          >
        
      </form>
    </div>
  </div>
</div>
{% endblock content %} 
